<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>重置密码界面</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/body.css' %}/>
</head>
<body>
<div class="container">
    <section id="content">
        <form action="{% url 'modify_pwd' %}" method="post">
            <h1>重置密码</h1>
            <div>
                <input class="" type="password" placeholder="新密码" required="" id="password" name="newpassword"/>
            </div>
            <div>
                <input class="" type="password" placeholder="确认密码" required="" id="password"
                       name="confirmpassword"/>
            </div>
            <input type="hidden" value="{{ email }}" name="email">
            <input type="hidden" value="{{ code }}" name="code">

            <div style="color: red;position: absolute;top:71%;left:32%">
                    <p>{{ modify_form.newpassword.errors.0 }}</p>
                    <p>{{ modify_form.confirmpassword.errors.0 }}</p>
                    <p>{{ msg }}</p>
            </div>

            <div class="">
                <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span></div>
            <div>
                <!-- <input type="submit" value="Log in" /> -->
                <input type="submit" value="提交" class="btn btn-primary" id="js-btn-login"/>
                <div style="position: absolute;left: 45%;top: 74%;color: #00aeef"><P>下次别再忘记密码啦！<br>感恩有你hhhhh！</P></div>
                {% csrf_token %}
                <!-- <a href="#">Register</a> -->
            </div>
        </form><!-- form -->
    </section><!-- content -->
</div>
<!-- container -->


<br><br><br><br>
<div style="text-align:center;">
    <p>版权所有</p>
</div>
</body>

<script src="{% static 'js/reflash.js' %}"></script>
</html>